<div class="panel panel-default">
	<div class="panel-heading"><h1 class="panel-title">About</h1></div>
	<div class="panel-body">
		<p> This site was designed as a part of the One Month Rails course at <a href="www.onemonth.com">OneMonth.com</a> It is not actually intended to be innovative or original in any particular way, but as an exercise of techniques and practices in web app development. </p>
		<p> The Author is Donny Mason, a recently graduated student of Networking and Programming, as he attempts to pad his resume a bit by learning more skills. </p>
	</div>
</div>