
<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<% if user_signed_in? %>	
		If you are seeing this, you are logged in. Congrats! This is a super-exclusive website.
	<% else %>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
	<p>
		<%= link_to "Pins", pins_path, class: "btn btn-success btn-lg" %>
	</p>

</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">What's New?</h3>
	</div>
	<div class="panel-body">
		Well I put in this stuff on the home page, for one.
	</div>
	<div class="panel-footer">
		Posted by Donny on 6-4-15
	</div>


</div>